@use '../../vars.scss' as vars;
@use '../../mixins.scss' as mixins;

@import url("https://cdn.realsgii2.dev/pathOS/font/sansation.css");

$toolbar-height: 60px;

.app {
  min-height: calc(100vh - #{$toolbar-height});
  max-height: calc(100vh - #{$toolbar-height});

  padding: 2rem 4rem 6rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toolbar {
  min-height: $toolbar-height;
  max-height: $toolbar-height;

  padding: 0 4px;

  display: flex;
  align-items: center;

  background-color: vars.$secondary-color;
}

.soundManager {
  display: none;
}

body {
  font-family: "Sansation", arial;
	box-sizing: border-box;

  background-color: vars.$background-color;
  color: vars.$primary-color;

  width: 100vw;
  height: 100vh;

  font-size: 20px;

  margin: 0;
  padding: 0;

  filter: blur(0.25px) brightness(1.5);

  &::before {
    @include mixins.pseudoCover;

    background-image: url("https://cdn.realsgii2.dev/pathOS/ui/scanline/scanline.png");
		opacity: 0.2;
    z-index: 999;
  }

  &::after {
    @include mixins.pseudoCover;

    background-image: url("https://cdn.realsgii2.dev/pathOS/ui/background/station.png");
		background-size: 80%;
		background-repeat: no-repeat;
		opacity: 0.15;
  }
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
  cursor: url("https://cdn.realsgii2.dev/pathOS/ui/v2/cursor/cursor.png"), auto !important;
}
