@use '../../vars.scss' as vars;
@use '../../mixins.scss' as mixins;

$window: url("https://cdn.realsgii2.dev/pathOS/ui/window/window.png");

.window {
  outline: 0;

	background-color: transparent;
	position: relative;

	color: vars.$primary-color;
	font-size: 16px;
	border: solid 42px;

	border-image: $window;
	border-image-slice: 45 fill !important;
	border-image-repeat: stretch !important;

  .content {
    margin: -12px;
  }

  .label {
    padding: 2px 8px;
    color: #fff;
    background-color: vars.$primary-color;
    display: inline-block;
    font-size: 22px;
    position: absolute;
    top: -41px;
    left: -41px;
  }
}
